<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dlc.modules.api.dao.GoodsEvaluateMapper">
    <resultMap id="BaseResultMap" type="com.dlc.modules.api.entity.GoodsEvaluate">
        <constructor>
            <idArg column="goodsEvaluatId" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="goodsId" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="orderNo" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="userId" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="headImgUrl" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="nickname" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="evLevel" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="evContent" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="evaluatImgUrl" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="evaluatDate" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    goodsEvaluatId, goodsId, orderNo, userId, headImgUrl, nickname, evLevel,
     evContent, evaluatImgUrl, evaluatDate
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from goods_evaluate
        where goodsEvaluatId = #{goodsEvaluatId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from goods_evaluate
    where goodsEvaluatId = #{goodsEvaluatId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.dlc.modules.api.entity.GoodsEvaluate">
    insert into goods_evaluate (goodsEvaluatId, goodsId, userId, 
      evLevel, evContent, evaluatImgUrl, 
      evaluatDate)
    values (#{goodsEvaluatId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{evLevel,jdbcType=INTEGER}, #{evContent,jdbcType=VARCHAR}, #{evaluatImgUrl,jdbcType=VARCHAR}, 
      #{evaluatDate,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.dlc.modules.api.entity.GoodsEvaluate">
        insert into goods_evaluate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsEvaluatId != null">
                goodsEvaluatId,
            </if>
            <if test="goodsId != null">
                goodsId,
            </if>
            <if test="orderNo != null">
                orderNo,
            </if>
            <if test="userId != null">
                userId,
            </if>
            <if test="headImgUrl != null">
                headImgUrl,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="evLevel != null">
                evLevel,
            </if>
            <if test="evContent != null">
                evContent,
            </if>
            <if test="evaluatImgUrl != null">
                evaluatImgUrl,
            </if>
            <if test="evaluatDate != null">
                evaluatDate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsEvaluatId != null">
                #{goodsEvaluatId,jdbcType=BIGINT},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=BIGINT},
            </if>
            <if test="orderNo != null">
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="headImgUrl != null">
                #{headImgUrl,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="evLevel != null">
                #{evLevel,jdbcType=INTEGER},
            </if>
            <if test="evContent != null">
                #{evContent,jdbcType=VARCHAR},
            </if>
            <if test="evaluatImgUrl != null">
                #{evaluatImgUrl,jdbcType=VARCHAR},
            </if>
            <if test="evaluatDate != null">
                #{evaluatDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dlc.modules.api.entity.GoodsEvaluate">
        update goods_evaluate
        <set>
            <if test="goodsId != null">
                goodsId = #{goodsId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                userId = #{userId,jdbcType=BIGINT},
            </if>
            <if test="evLevel != null">
                evLevel = #{evLevel,jdbcType=INTEGER},
            </if>
            <if test="evContent != null">
                evContent = #{evContent,jdbcType=VARCHAR},
            </if>
            <if test="evaluatImgUrl != null">
                evaluatImgUrl = #{evaluatImgUrl,jdbcType=VARCHAR},
            </if>
            <if test="evaluatDate != null">
                evaluatDate = #{evaluatDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where goodsEvaluatId = #{goodsEvaluatId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dlc.modules.api.entity.GoodsEvaluate">
    update goods_evaluate
    set goodsId = #{goodsId,jdbcType=BIGINT},
      userId = #{userId,jdbcType=BIGINT},
      evLevel = #{evLevel,jdbcType=INTEGER},
      evContent = #{evContent,jdbcType=VARCHAR},
      evaluatImgUrl = #{evaluatImgUrl,jdbcType=VARCHAR},
      evaluatDate = #{evaluatDate,jdbcType=TIMESTAMP}
    where goodsEvaluatId = #{goodsEvaluatId,jdbcType=BIGINT}
  </update>

    <!--LXK商品列表展示-->
    <select id="goodsEvaluateList" parameterType="map" resultType="map">
    SELECT goodsEvaluatId, goodsId, userId, evLevel, evContent, evaluatImgUrl, evaluatDate, headImgUrl, nickname from goods_evaluate g
     WHERE goodsId = #{goodsId} ORDER BY evaluatDate DESC LIMIT #{offset}, #{limit}
  </select>
    <select id="goodsEvaluateListCount" parameterType="map" resultType="java.lang.Integer">
    SELECT COUNT(1) from goods_evaluate g
     WHERE goodsId = #{goodsId} ORDER BY evaluatDate
  </select>
    <!--批量插入评论-->
    <insert id ="insertEvelutBatch" parameterType="java.util.List" >
        insert into goods_evaluate
         (goodsId, orderNo, userId, headImgUrl,nickname,evLevel,evContent,evaluatImgUrl)
        values
        <foreach collection ="list" item="goodsEvaluate" index= "index" separator =",">
            (
            #{goodsEvaluate.goodsId},
            #{goodsEvaluate.orderNo},
            #{goodsEvaluate.userId},
            #{goodsEvaluate.headImgUrl},
            #{goodsEvaluate.nickname},
            #{goodsEvaluate.evLevel},
            #{goodsEvaluate.evContent},
            #{goodsEvaluate.evaluatImgUrl}
            )
        </foreach >
    </insert >
</mapper>