<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dlc.modules.sys.dao.StoreGoodsOrderMapper" >
  <resultMap id="BaseResultMap" type="com.dlc.modules.sys.entity.StoreGoodsOrder" >
    <constructor >
      <idArg column="sgoId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="storeId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="barCode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="orderNo" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="style" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="createdDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    sgoId, storeId, barCode, orderNo, name, price, style, num, createdDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from store_goods_order
    where sgoId = #{sgoId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from store_goods_order
    where sgoId = #{sgoId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dlc.modules.sys.entity.StoreGoodsOrder" >
    insert into store_goods_order (sgoId, storeId, barCode, 
      orderNo, name, price, 
      style, num, createdDate
      )
    values (#{sgoId,jdbcType=BIGINT}, #{storeId,jdbcType=BIGINT}, #{barCode,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{style,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, #{createdDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dlc.modules.sys.entity.StoreGoodsOrder" >
    insert into store_goods_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sgoId != null" >
        sgoId,
      </if>
      <if test="storeId != null" >
        storeId,
      </if>
      <if test="barCode != null" >
        barCode,
      </if>
      <if test="orderNo != null" >
        orderNo,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="style != null" >
        style,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="createdDate != null" >
        createdDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sgoId != null" >
        #{sgoId,jdbcType=BIGINT},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=BIGINT},
      </if>
      <if test="barCode != null" >
        #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="style != null" >
        #{style,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <!--批量插入数据batchInsertGoodsOrder-->
  <insert id="batchInsertGoodsOrder" parameterType="java.util.Map">
      INSERT INTO store_goods_order
      (userId,storeId,barCode,orderNo,name,price,style,num)
      VALUES
      <foreach collection="list" index="index" item="item" separator=",">
          (#{item.userId},#{item.storeId},#{item.barCode},#{item.orderNo},#{item.name},#{item.price},
            #{item.style},#{item.num})
      </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dlc.modules.sys.entity.StoreGoodsOrder" >
    update store_goods_order
    <set >
      <if test="storeId != null" >
        storeId = #{storeId,jdbcType=BIGINT},
      </if>
      <if test="barCode != null" >
        barCode = #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        orderNo = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="style != null" >
        style = #{style,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null" >
        createdDate = #{createdDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sgoId = #{sgoId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dlc.modules.sys.entity.StoreGoodsOrder" >
    update store_goods_order
    set storeId = #{storeId,jdbcType=BIGINT},
      barCode = #{barCode,jdbcType=VARCHAR},
      orderNo = #{orderNo,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      style = #{style,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      createdDate = #{createdDate,jdbcType=TIMESTAMP}
    where sgoId = #{sgoId,jdbcType=BIGINT}
  </update>
</mapper>