<!DOCTYPE html>
<html>
<head>
    <title>我的设备</title>
    <#include "/header.html"/>
        <style>
            .logo {
                display: inline-block;
                text-align: center;
                margin-right: 15px;
            }

            .logo .logo_img {
                width: 100px;
                height: 100px;
                display: block;
            }

            .logo .upload_file {
                position: absolute;
                top: 0;
                width: 150px;
                height: 150px;
                opacity: 0;
            }

            .upload {
                margin: 5px 0 15px 0px;
            }

            .upload-button {
                position: fixed;
                bottom: 0px;
                right: 20px;
            }

        </style>
        </head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <!--<#if shiro.hasPermission("sys:device:save")>
                <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            </#if>-->
            <div class="form-group col-lg-2">
                <input type="text" class="form-control" v-model="q.deviceNo" @keyup.enter="query" placeholder="设备编号">
            </div>
            <div class="form-group col-lg-2">
                <input type="text" class="form-control" v-model="q.phone" @keyup.enter="query" placeholder="电话">
            </div>
            <div class="form-group col-lg-2">
                <select class="form-control" v-model="q.status">
                    <option value="" selected="selected">全部</option>
                    <option value="0" >待确认</option>
                    <option value="1" >已确认</option>
                    <option value="2" >已禁用</option>
                    <option value="3" >已转卡</option>
                    <option value="4" >已过期</option>
                </select>
            </div>
            <a class="btn btn-default" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a>

            <#if shiro.hasPermission("sys:device:update")>
                <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;绑定设备</a>
            </#if>
            <a class="btn btn-primary" @click="forbidden"><i class="fa fa-window-close"></i>&nbsp;禁用设备</a>
            <a class="btn btn-primary" @click="unForbidden"><i class="fa fa-check"></i>&nbsp;解除禁用</a>
            <!--<#if shiro.hasPermission("sys:device:delete")>
                <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            </#if>-->
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>

    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">设备编号</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="device.deviceNo" placeholder="设备编号(手环编号或其他设备号。)"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">设备名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="device.deviceName" placeholder="设备名称"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">用户编号</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="device.proxyId" disabled="disabled" placeholder="app用户编号"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">用户姓名</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="device.proxyName"  placeholder="用户姓名或APP用户昵称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">联系电话</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="device.phone" placeholder="联系电话"/>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-2 control-label">设备数量</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="device.inventory" disabled="disabled" placeholder="设备数量"/>
                </div>
            </div>


        <div v-show="!showList"  class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>
        </form>
        <div style="color:#F00">*注： 绑定设备时请保证设备编号正确有效，否则将导致该会员无法正常使用。'已转卡' 会员不可再次编辑</div>
</div>
</div>


<script src="${request.contextPath}/statics/libs/ajaxupload.js"></script>
<script src="${request.contextPath}/statics/js/modules/sys/device.js?_${.now?long}"></script>
</body>
</html>