<!DOCTYPE html>
<html>
<head>
<title>积分兑换明细表</title>
	<#include "/header.html"/>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-lg-2">
				<input type="text" class="form-control" v-model="q.phone" @keyup.enter="query" placeholder="手机号">
			</div>
			<div class="form-group col-lg-2">
				<input type="text" class="form-control" v-model="q.nickname" @keyup.enter="query" placeholder="用户昵称">
			</div>
			<div class="form-group col-lg-2">
				<input type="text" class="form-control" v-model="q.storeName" @keyup.enter="query" placeholder="门店">
			</div>
			<a class="btn btn-default" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">用户昵称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="pointsExchange.userId" placeholder="用户昵称"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">兑换积分数</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="pointsExchange.pointsCount" placeholder="兑换积分数"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">兑换金额</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="pointsExchange.exchangeMoney" placeholder="兑换金额"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">兑换时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="pointsExchange.exchangeDate" placeholder="兑换时间"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/pointsexchange.js?_${.now?long}"></script>
</body>
</html>